<div id="foot-links">
  <div id="site-map">
    <h5>Site Map</h5>
    {% include navigation.html %}
  </div>
  <div id="social-footer">
    <h5>Social Media</h5>
    <a href="{{ site.contact.discord }}" target="_blank" rel="noopener noref">Discord</a>
    <a href="https://{{ site.contact.eventbrite }}.eventbrite.com/" target="_blank" rel="noopener noref">Eventbrite</a>
    <a href="{% include mastodon.html %}" target="_blank" rel="noopener noref">Mastodon</a>
    <a href="https://www.facebook.com/{{ site.contact.facebook }}/" target="_blank" rel="noopener noref">Facebook</a>
    <a href="https://twitter.com/{{ site.contact.twitter }}" target="_blank" rel="noopener noref">Twitter</a>
    <a href="https://github.com/{{ site.contact.github }}/" target="_blank" rel="noopener noref">Github</a>
    <a href="https://medium.com/{{ site.contact.medium }}" target="_blank" rel="noopener noref">Medium</a>
  </div>
</div>
<div id="legal">
  <a href="./index.html">
    <img src="./assets/img/logonav.png" alt="Open Source San José Logo">
  </a>
  <p>Got feedback? <a href="mailto:{{ site.contact.email }}">Let us know!</a></p>
  <p>&copy; {{ site.start }}–{{ site.time | date: "%Y" }} {{ site.copyright | default: site.title }}</p>
</div>
