// GLOBAL VARIABLES
$body-color: #222222;
$accent-color: #399fd3;

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


#about-title {
  background: url(../img/banners/quetzalcoatl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-content {
  ul {
    list-style: circle;

    li {
      margin: 15px;
      font-size: 22px;

    }

  }
}

.image-set {
  width: 200px;
  border-radius: 25px;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#leadership-team {
  h3 {
    margin-left: 35px;
  }

  .leader {
    width: 320px;
    padding: 20px;
    border: 3px solid $accent-color;
    margin: 25px auto;
    border-radius: 25px;
    

    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 135%;
      font-weight: 600;
      white-space: nowrap;
    }

    img {
      border: 3px solid $accent-color;
    }


  }
  #former-leadership {
    #leader {
      img {
        border-radius: 50%;
        height: 60px;
       
        border: 3px solid $accent-color;
      }
    }
  }
  .captain {
    border: none;
    border-bottom: 3px solid $accent-color;

    img {
      border: 3px solid $accent-color;      
    }

    p {
      text-align: left;
      margin: 10px;
    }
  }
}

// PHONE LANDSCAPE LAYOUT ******************************************************

@media (orientation: landscape) {
  #leadership-team {
    flex-direction: row;
    text-align: center;
  }

  .leader {
    display: inline-block;
    margin: 20px 20px;
  }
}

// TABLET PORTRAIT LAYOUT ********************************************************

@media (min-width: 600px) and (orientation: portrait) {
  #leadership-team {
    flex-direction: row;
    text-align: center;

    h3 {
      margin-left: 60px;
    }

    .leader {
      display: inline-block;
      margin: 15px 20px;
    }
  }
}

// TABLET LANDSCAPE LAYOUT **********************************************************

@media (min-width: 600px) and (orientation: landscape) {
  #leadership-team {
    flex-direction: row;
    text-align: center;
    width: 75%;
    margin: 0 auto;

    .leader {
      display: inline-block;
      margin: 15px 30px;

    }
  }
}

// DESKTOP LAYOUT ***************************************************************

@media (min-width: 1200px) {
  .iframe-container {
    width: 75%;
    margin: 10px auto;
  }
}