footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid #399fd3;
  padding-bottom: 0px;
}

footer #foot-links {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 10px;
}

footer #foot-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #foot-links div h5 {
  font-size: 12px;
  border-bottom: 2px solid #399fd3;
  margin-bottom: 4px;
}

footer #foot-links div a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

footer #legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 175px;
}

footer #legal img {
  width: 60%;
}

footer #legal p {
  font-size: 55%;
  margin-right: 10px;
}

@media (orientation: landscape) {
  footer #legal {
    padding-right: 30px;
  }
  footer #legal img {
    width: 40%;
  }
  footer #legal p {
    margin-right: 15px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  footer #foot-links {
    width: 45%;
  }
  footer #legal {
    padding-right: 30px;
  }
  footer #legal img {
    width: 40%;
  }
  footer #legal p {
    font-size: 65%;
    margin-right: 15px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  footer {
    padding: 25px 0px;
  }
  footer #foot-links {
    width: 45%;
    height: 200px;
  }
  footer #foot-links div h5 {
    font-size: 14px;
  }
  footer #foot-links div a {
    font-size: 12px;
  }
  footer #legal {
    height: 200px;
    padding-right: 30px;
  }
  footer #legal img {
    width: 38%;
  }
  footer #legal p {
    font-size: 65%;
    margin-right: 15px;
    line-height: 2;
  }
}

@media (min-width: 1200px) {
  footer {
    padding-top: 25px;
  }
  footer #foot-links div h5 {
    margin-bottom: 7px;
  }
  footer #legal img {
    width: 30%;
  }
  footer #legal p {
    font-size: 14px;
    margin-right: 20px;
    line-height: 2;
  }
}

@media (min-width: 1800px) {
  footer #foot-links {
    width: 45%;
  }
  footer #foot-links div h5 {
    font-size: 16px;
  }
  footer #foot-links div a {
    font-size: 14px;
  }
  footer #legal img {
    width: 25%;
  }
}
/*# sourceMappingURL=footer.css.map */