$accent-color: #399FD3;

footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid $accent-color;
    padding-bottom:25px;

    #foot-links {
        height: 350px;
        display:flex;
        width:35%;
        flex-direction: row;
        justify-content: space-evenly;
        padding:50px;
    
        div {
            display: flex;
            flex-direction: column;
            height: 90%;
            justify-content: space-between;

            h5 {
                font-size: 18px;
                border-bottom:3px solid $accent-color; 
            }

            a {
                color:white;
                text-decoration: none;
                font-size:16px;
            }
        }
    }

    #legal {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 350px;
        padding-right:20px;
        img {
            width:60%;
        }
        p {
            font-size: 12px;
            margin-right:20px;
        }
    }
}