// CSS RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
  // outline: 1px solid white; //uncomment this line to diagnose position issues
}

$accent-color: #399fd3;

body {
  background-color: #222222;
  color: white;
  font-family: Helvetica;
  font-size: 100%;
}

.small-hero {
  height: 500px;
  width: 100%;
  margin-bottom: 75px;
  position: relative;

  h1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
    font-size: 50px;
    width: 85%;
    position: absolute;
    left: 0px;
    bottom: -25px;
  }

  #artist-info {
    position: absolute;
    top: 5px;
    right: 0px;
    text-align: right;
    opacity: 65%;
    background-color: black;
    padding: 3px 5px;

    p {
      font-size: 11px;
      line-height: 97%;
      margin: 5px 0px;

      a {
        color: $accent-color;
      }
    }
  }
}

h1 {
  font-size: 500%;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  background-color: #222222;
  padding: 0px 10px;
  font-size: 150%;
  margin-left: 4%;
  max-width: fit-content;
}

.h2bar {
  height: 15px;
  width: 100%;
  background-color: $accent-color;
  margin-bottom: -26px;
}

h3 {
  font-size: 160%;
  font-weight: 500;
  font-style: italic;
  position: relative;
  margin: 25px 0px;
  text-align: left;

  &::before {
    content: "";
    height: 90%;
    width: 7px;
    background-color: $accent-color;
    position: absolute;
    left: -12px;
    top: 4px;
  }
}

.h3_wrap {
  &::before {
    content: "";
    height: 90%;
    width: 7px;
    background-color: $accent-color;
    position: absolute;
    left: -12px;
    top: 4px;
  }
}

p {
  font-size: 100%;
  line-height: 2;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.text-content {
  width: 87%;
  margin: 20px auto;

  p {
    margin: 40px 0px;
  }
}

.notify {
  font-weight: bold;
  background-color: #e84118;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

// PHONE LANDSCAPE LAYOUT ******************************************************

@media (orientation: landscape) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .container {
    width: 100vw;
  }

  p {
    font-size: 16px;
    line-height: 160%;
  }

  .text-content {
    width: 80%;
    margin: 20px auto;
  }

  h2 {
    background-color: #222222;
    padding: 0px 10px;
    font-size: 27px;
    margin-left: 4%;
    max-width: fit-content;
    margin-bottom: 20px;
  }

  .h2bar {
    height: 15px;
    width: 100%;
    background-color: $accent-color;
    margin-bottom: -28px;
  }

  h3 {
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    margin-left: 0px;

    &::before {
      content: "";
      height: 30px;
      width: 9px;
      background-color: $accent-color;
      position: absolute;
      left: -15px;
      top: 3px;
    }
  }

  #map {
    width: 85%;
  }
}

// TABLET PORTRAIT LAYOUT ********************************************************

@media (min-width: 600px) and (orientation: portrait) {
  .text-content {
    width: 75%;
  }

  p {
    font-size: 115%;
    line-height: 1.5;
  }

  h2 {
    font-size: 250%;
  }

  .h2bar {
    height: 18px;
    margin-bottom: -40px;
  }

  h3 {
    font-size: 175%;
    font-weight: 500;
    font-style: italic;
    position: relative;
    margin-left: 0px;

    &::before {
      content: "";
      height: 90%;
      width: 9px;
      background-color: $accent-color;
      position: absolute;
      left: -15px;
      top: 3px;
    }
  }
}

// TABLET LANDSCAPE LAYOUT **********************************************************

@media (min-width: 600px) and (orientation: landscape) {
  .text-content {
    width: 75%;
    margin: 20px auto;
  }
  h2 {
    font-size: 250%;
  }
  .h2bar {
    height: 20px;
    margin-bottom: -40px;
  }
}

// DESKTOP LAYOUT ***************************************************************

@media (min-width: 1200px) {
  .container {
    box-shadow: 3px 0px 5px black, -3px 0px 5px black;
  }
}
