header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #399fd3;
}

#links > a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 25px;
  font-weight: 500;
}

#sociallinks {
  padding-right: 5px;
}

#sociallinks > a {
  text-decoration: none;
}

.socialnav {
  width: 3.5%;
  margin: 15px 20px;
}

#links {
  margin-bottom: 15px;
}

#navlinks > * {
  text-align: right;
}

header > a {
  width: 35%;
}

#navlogo {
  width: 100%;
}

#menu-btn {
  display: none;
}

@media only screen and (max-width: 767px) {
  .tooltiptext {
    display: none;
  }
  #navlogo {
    width: 70%;
  }
  #navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -100%;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
  }
  #links > * {
    text-align: left;
    padding-left: 700px;
  }
  #links > a {
    font-size: 30px;
    width: 100%;
    display: block;
    padding: 11px 11px 11px 40px;
    border-bottom: 2px solid #399fd3;
  }
  #sociallinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sociallinks > * {
    width: 30vw;
    text-align: center;
  }
  .socialnav {
    width: 70%;
    padding: 9px;
    border: 2px solid white;
    border-radius: 50%;
  }
  #menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 10;
  }
  #menu-btn i {
    width: 20%;
    padding: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #menu-btn {
    display: none;
  }
  .tooltiptext {
    display: none;
  }
  #navlogo {
    width: 60%;
  }
  #navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: %;
  }
  #links > a {
    font-size: 17px;
  }
  #sociallinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #sociallinks > * {
    width: 30px;
  }
  .socialnav {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .tooltip {
    position: relative;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #111111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50px;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  #menu-btn {
    display: none;
  }
  #links > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 25px;
    font-weight: 500;
    border-bottom: solid 0px #399fd3;
    -webkit-transition: border-bottom 0.1s linear;
    transition: border-bottom 0.1s linear;
  }
  #links > a:hover {
    border-bottom-width: 4px;
  }
}

@media only screen and (min-width: 1800px) {
  #menu-btn {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */