/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  color: #464646;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 { 
  color:  #000000;
}

.nav-container {
  background-color: white;
}

.headline-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  font-size: 120%;
}

/* Prevent fixed navbar hiding initial content when jumping to an anchor */
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}