#projects-title {
  background: url(../img/banners/abstractbaseball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectsIntro {
  margin-top: 100px;
}

#our-work {
  margin-top: 0px;
}

#openModal {
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 90%;
  height: 95%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}
