// GLOBAL SETTING & PHONE LAYOUT

$body-color: #222222;
$accent-color: #399fd3;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $accent-color;

  a {
    width: 29%;

    #navlogo {
      width: 100%;
    }
  }
}

#menu-btn {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 10;
  border-radius: 50%;

  i {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

#navlinks {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: absolute;
  z-index: 5;
  top: 0;
  left: -100%;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: $body-color;
  transition: left 0.4s ease-in-out;
}

#links > a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  text-align: left;
  font-size: 25px;
  width: 100%;
  display: block;
  padding: 11px 11px 11px 40px;
  border-bottom: 2px solid $accent-color;
}

#sociallinks {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 10px 20px;

  a {
    width: 29%;
    margin: 15px;

    img {
      width: 100%;
      //   padding: 9px;
      //   border: 2px solid white;
      //   border-radius: 50%;
    }
  }
}

.tooltiptext {
  display: none;
}

// PHONE LANDSCAPE LAYOUT

@media (orientation: landscape) {
  #navlinks {
    flex-direction: column;
  }
  header {
    a {
      width: 10%;
    }
  }

  #links > a {
    font-size: 22px;
    padding: 5px 40px;
  }

  #sociallinks {
    a {
      width: 10%;
    }
  }
}

// TABLET PORTRAIT LAYOUT

@media (min-width: 600px) and (orientation: portrait) {
  header {
    a {
      width: 15%;
    }
  }

  #menu-btn {
    display: none;
  }

  #navlinks {
    background-color: $body-color;
    position: static;
    width: 66%;
    justify-content: space-around;
    padding: 0;
    padding-top: 15px;

    #links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        width: fit-content;
        text-align: right;
        font-size: 2.2vw;
        border: none;
        // margin: 0;
        // padding: 0;
      }
    }

    #sociallinks {
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding-right: 1vw;
      a {
        width: 6vw;
        margin-right: 0.7vw;

        img {
          border: none;
        }
      }
    }
  }
}

// TABLET LANDSCAPE LAYOUT

@media (min-width: 600px) and (orientation: landscape) {
  #menu-btn {
    display: none;
  }
  header {
    a {
      width: 15%;
    }
  }
  #navlinks {
    background-color: $body-color;
    position: static;
    width: 66%;
    justify-content: space-around;
    padding: 0;
    padding-top: 15px;

    #links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        width: fit-content;
        text-align: right;
        font-size: 2.2vw;
        border: none;
        margin: 0;
        padding: 0;
      }
    }

    #sociallinks {
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding-right: 1.85%;
      a {
        margin-right: -2px;
        width: 11%;
        img {
          border: none;
        }
      }
    }
  }
}

// DESKTOP LAYOUT

@media (min-width: 1200px) {
  header {
    a {
      width: 13%;
    }
  }
  #navlinks {
    width: 60%;
    justify-content: space-around;
    #links {
      height: 30px;
      a {
        font-size: 24px;
        padding-bottom: 12px;
        border-bottom: solid 0px $accent-color;
        transition: border-bottom 0.1s linear;

        &:hover {
          border-bottom-width: 3px;
        }
      }
    }
    #sociallinks {
      padding-right: 3%;
      a {
        width: 7%;
      }
    }
  }
  // TOOLTIP CODE

  .tooltip {
    position: relative;
  }

  .tooltiptext {
    display: inline;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #111111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}

// XL DESKTOP LAYOUT

@media (min-width: 1800px) {
}
